################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SWEBUIShop/v16
/src/SwebuiDemo/obj/Debug
/src/SwebuiDemo/bin/Debug
